<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpSecurityCert" closeTimeout="00:02:00" openTimeout="00:02:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="104857600"
          maxBufferSize="104857600" maxReceivedMessageSize="104857600">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="NetTcpBinding__ICWcfService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="HttpNoSecurity" closeTimeout="00:02:00" openTimeout="00:02:00"
          receiveTimeout="00:10:00" sendTimeout="00:02:00" maxBufferPoolSize="104857600"
          maxReceivedMessageSize="104857600" messageEncoding="Text">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600" />
          <security mode="None" />
        </binding>
        <binding name="HttpSecurity" closeTimeout="00:02:00" openTimeout="00:02:00"
          receiveTimeout="00:10:00" sendTimeout="00:02:00" maxBufferPoolSize="104857600"
          maxReceivedMessageSize="104857600" messageEncoding="Text">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="HttpsSecurity" closeTimeout="00:02:00" openTimeout="00:02:00"
          receiveTimeout="00:10:00" sendTimeout="00:02:00" maxBufferPoolSize="104857600"
          maxReceivedMessageSize="104857600" messageEncoding="Text">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="HttpsSecurityCert" closeTimeout="00:02:00" openTimeout="00:02:00"
          receiveTimeout="00:10:00" sendTimeout="00:02:00" maxBufferPoolSize="104857600"
          maxReceivedMessageSize="104857600" messageEncoding="Text">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8007/wcttcpservice" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding__ICWcfService" contract="ICWcfService._ICWcfService"
        name="NetTcpBinding__ICWcfService" />
    </client>
  </system.serviceModel>
</configuration>